.total__list {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.total__list__elem {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    padding: 20px;
    background-color: #EDF4FF;
    border: 2px solid #4D89F8;
    border-radius: 10px;
}

.list__elem__input:invalid {
    background-color: rgb(243, 122, 122);
    outline: 2px solid rgb(209, 6, 6);
}



.container {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 3px; */
}

.inner__container {
    width: 120px;
    display: flex;
    justify-content: space-between;
}
