body {
    width: 1200px;
    margin: 0 auto;
    color: #4D89F8;
    
    background-color: #EDF4FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.background__color {
    box-sizing: border-box;
    /* width: 800px; */
    margin-top: 20px;
    padding: 20px;
    border-radius: 40px;
    background-color: #B3CEFF;

}

.currency, .measures, .total__wrapper__first, .total__wrapper__second {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #EDF4FF;
    border-radius: 7px;
}

h2 {
    margin-block: 8px;
}

.currency__changer, .measures__changer {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.distance {
    margin-bottom: 20px;
}

.measure__value {
    width: fit-content;
}

.total__measure, .change__to {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.measure, .total__currency {
    /* width: fit-content; */
    margin: 0;
    padding: 8px;
    font-size: 24px;
    /* background-color: white; */
    /* border-radius: 7px ; */
}

.measure::before {
    content: '=';
}

.wrapper, .buttons__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons__wrapper {
    gap: 5px;
}


footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin-block: 7px;
}