/* таблица */
.total__wrapper__second table {
    width: 100%;
    border-collapse: collapse;
}

table {

    background-color: white;
    border-radius: 7px;
}

.total__wrapper__second th  {
    text-align: left;
    padding: 20px;
    font-size: 24px;
}

th, td {
    border-bottom: 3px solid #4D89F8;
}

.th2 {
    text-align: right !important;
}

.total__wrapper__second td:first-child {
    text-align: left;
    padding: 20px;
}

.total__wrapper__second td:last-child {
    text-align: right;
    padding: 8px 10px;
}

.total__wrapper__second td:last-child::after {
    content: '₽';
}

.total__wrapper__second tfoot td {
    padding: 10px;
}

.total__wrapper__second tfoot td::after {
    content: '₽';
}

.total__wrapper__second tfoot td:first-child {
    text-align: left;
    font-size: 24px;
}

.total__wrapper__second tfoot td:last-child {
    text-align: right;
    font-size: 24px;
}

.total__wrapper__second tfoot td {
    border: none;

}

.total__wrapper__second tfoot td::after {
    content: '';
}